{% extends 'AppBundle::mainframe.html.twig' %}

{% block baseline %}<strong>Fédérons</strong> la communauté <strong>numérique</strong> du <strong>Haut-Rhin</strong>{% endblock %}

{% block main %}

<div class="container white-text flow-text">

    <h3>Mission</h3>

    <p><strong>68K</strong> est une initiative conjointe d'entreprises du numérique, <strong>ayant pour mission de donner corps à un écosystème numérique dans le Haut-Rhin</strong>.</p>
    <p>S'inspirant en celà du formidable travail d'<strong><a href="http://www.alsacedigitale.org/" target="_blank" class="white-text">Alsace Digitale</a></strong> dans le Bas-Rhin, <strong>68K</strong> se fixe également comme mission <strong>d'animer cet écosystème numérique</strong>, pour <strong>développer l'économie numérique Haut-Rhinoise</strong>, et <strong>faciliter l'accès à l'entreprenariat.</strong></p>

    <h3>Public cible</h3>

    <p><strong>68K</strong> est ouvert à toute personne/structure se revendiquant de l'économie numérique, et ayant une activité ou une influence dans le Haut-Rhin.</p>

    <h3>Services</h3>

    <p><strong>68K</strong> propose à ses inscrits :</p>

    <ul style="padding-left: 2em; list-style-type: inherit;">
        <li style="list-style-type: inherit;">une visibilité en ligne;</li>
        <li style="list-style-type: inherit;">une recherche de prestataire;</li>
        <li style="list-style-type: inherit;">des services d'échange de mission;</li>
        <li style="list-style-type: inherit;">l'organisation de meetups réguliers pour animer la scène locale;</li>
        <li style="list-style-type: inherit;">un espace de coworking.</li>
    </ul>

    <p>Les services rendus par <strong>68K</strong> sont entièrement gratuits, et le resteront toujours (en dehors des frais éventuels liés à certains évènements, des coûts de coworking, et d'une éventuelle cotisation associative).</p>

    <h3>Démarche</h3>

    <p>Pour mener sa mission, <strong>68K</strong> prévoit une démarche en plusieurs étapes :</p>

    <ol>
        <li>
            <p><strong>Réseau et visibilité</strong> : Recensement des acteurs du numérique du Haut-Rhin, et publication ouverte de la liste sur le site internet de <strong>68K</strong></p>
        </li>
        <li>
            <p><strong>Consolidation du réseau et animation</strong> : Organisation de meetups ouverts à tous, avec possibilité d'inscription en ligne</p>
        </li>
        <li>
            <p><strong>Apport d'affaire</strong> : Mise à disposition de services en ligne de recherche de prestataire, de proposition et d'échange de mission</p>
        </li>
    </ol>

    <h3>Transparence</h3>

    <p>Convaincus que la transparence est indispensable pour favoriser le développement des échanges, la liste des membres de <strong>68K</strong> et leurs données de profil sont publiques.</p>

    <h3>Calendrier</h3>
    <p><strong>68K</strong> sera opérationnel au cours du premier semestre 2016.</p>

    <h3>Soutien</h3>

    <p><strong>68K</strong> ne cherche pas à promouvoir l'image de ses initiateurs, mais au contraire à être un réseau commercialement neutre, légitime et ouvert.</p>

    <p>À cette fin, <strong>nous cherchons le soutien d'un maximum de partenaires</strong> dans le développement et l'animation du réseau.</p>

    <p>Si vous souhaitez nous soutenir dans notre mission ou notre démarche, contactez-nous à l'adresse email <a href="mailto:hello@68K.io" class="white-text"><strong>hello@68K.io</strong></a> &mdash; votre nom ou le nom de votre entreprise sera listé sur cette page comme soutien au projet.</p>

</div>

{% endblock %}